body {
    background-color: #3995BC;
}

.navbar-logo {
    height: 120px;
    width: 260px;
}

.navbar-brand {
    height: 120px;
    width: 260px;
}

.navbar {
    background-color: #3995BC;
    height: 8%;
    border: none;
}

.navbar-nav {
    margin-top: 4%;
    font-family: 'Markazi Text', serif;
    font-size: 23px;
}

a {
    color: white !important;
}

@media screen and (min-width:768px){
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        height: 120px;
        width: 260px;
        text-align: center;
    }
    .navbar>.container .navbar-brand-centered, 
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -130px;
    }
}

